# Project language
language: php

php:
  - 7.0
  - 7.1

# Required as we are using docker
sudo: required

services:
  - docker

env:
  AWS_ACCESS_KEY_ID=TRAVIS
  AWS_SECRET_ACCESS_KEY=TRAVIS
  AWS_REGION=us-east-1

# Cache composer packages so "composer install" is faster
cache:
  directories:
    - $HOME/.composer/cache/files

# Update composer
before-install:
  - composer self-update

# Install composer dependencies
install:
  - composer install
  # Document the version travis is using
  - docker --version
  # Install aws cli w/o sudo
  - pip install --user awscli
  # Put aws in the path
  - export PATH=$PATH:$HOME/.local/bin
  - docker pull pafortin/goaws
  - docker run -d --name goaws -p 4100:4100 pafortin/goaws
  - aws --endpoint-url http://localhost:4100 sqs create-queue --queue-name annotations--travis --region=$AWS_REGION
  - cp ./config/travis.php ./config/local.php

# Run script
script:
  - ./vendor/bin/proofreader src/ web/
  - ./vendor/bin/proofreader --no-phpcpd tests/
  - ./vendor/bin/phpunit
